<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Kontakt</h2>
      <br>
      <address>
        <dl class="imprint-contact-adress">
          <dt>
            <b>Isabella Gürtler</b>
            <br>
            <b>c/o Naturpark Hessischer Spessart</b>
            <br>
            <br>
            Georg-Hartmann-Str. 5 - 7
            <br>
            <br>
            63637 Jossgrund
            <br>
          </dt>
        </dl>
        <br>
        <dl class="imprint-contact-data" style="width: 100%">
          <dt>Telefon:</dt>
          <dd>
            <a href="tel:015233597733">(0152) 33597733</a>
            <br>
          </dd>
          <dt>E-Mail:</dt>
          <dd>
            <a href="mailto:guertleri@naturpark-hessischer-spessart.de">guertleri@naturpark-hessischer-spessert.de</a>
            <br>
          </dd>
        </dl>
      </address>
      <br>
      <hr>
      <br>
      <h2>So finden Sie uns</h2>
      <br>
      <script>$( document ).ready( function(){ portunaHelper.attachFancybox('template_page') });</script>
      <div class="template-page template-page-effect">
        <p class="tiny_p" style="text-align: left;">
          <a href="http://<iframe src=">
            <iframe allowfullscreen frameborder="0" height="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2553.655257496183!2d9.477322115722519!3d50.20497457944227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a2d3615a3d9e5b%3A0x6d70e299f6ffab8c!2sGeorg-Hartmann-Stra%C3%9Fe+5%2C+63637+Jossgrund!5e0!3m2!1sde!2sde!4v1470317576696" style="border: 0" width="400">
              #document
            </iframe>
          </a>
        </p>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>
