<br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h2>Zwei Verbände starten ein Projekt</h2>
      <br>
      <p>Der Naturpark und der Landschaftspflegeverband arbeiten im Schafhof im Burgjoß seit vielen Jahren in einer Bürogemeinschaft eng zusammen. An vielen Veranstaltungen nehmen unsere Verbände gemeinsam teil und präsentieren sich in der Öffentlichkeit. In beiden Verbänden arbeiten wir mit vielen Freiwilligen zusammen und unser beider Netz zu und mit Aktiven im Bereich der Natur ist sehr groß und vielseitig. <strong>So kamen wir beide auf die Idee zum Projekt „Engagement Natur“</strong>.</p>
      <p>Hier wollen wir Menschen, die sich in ihrer Freizeit mit und in der Natur beschäftigen, zusammenbringen und einen Austausch untereinander ermöglichen. Jeder Gruppe, jeder Verein oder Verband hat seine eigene Identität und sein eigenes Programm.
        Daran wird sich nichts ändern.</p>
      <p><strong>Unser Ziel ist es, ein Informationsnetz im Naturpark und dem Landkreis zu knüpfen</strong>.
        Zusammen mit den Ehrenamtsagenturen der Kommunen und von Landkreis Unterstützung für diese Naturbegeisterten zu ermöglichen.</p>
      <p>Wir haben in einer Fragebogenaktion Meinungen und Wünsche erfragt und waren überrascht über die Resonanz und der Bereitschaft zur Mitarbeit.</p>
      <br>
      <p>Dann also los!</p>
      <br>
      <p>Wenn wir nur an die Klima- und Biodiversitätsfragen denken, brauchen wir viele Menschen, die mithelfen und voneinander wissen.</p>
      <p>Immer nach dem Motto von Stefan Zweig:<br>
        „Viele kleine Leute an vielen kleinen Orten, die viele kleine Schritte tun, können das Gesicht der Welt verändern.“ Nun denn.</p>
      <br>
      <a class="btn btn-success" routerLink="machMit" role="button">Machen Sie mit!</a>
      <br>
      <br>
      <hr>
      <br>
      <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-img-top"></div>
          <div class="card-body">
            <p><strong>Fritz Dänner</strong></p>
            <p>Geschäftsführer</p>
            <p>Naturpark Hessischer Spessart</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-img-top"></div>
          <div class="card-body">
            <p><strong>Barbara Fiselius</strong></p>
            <p>Geschäftsführerin</p>
            <p>Landschaftspflegeverband</p>
          </div>
        </div>
      </div>
      </div>
      <br>
      <hr>
      <br>
      <a class="btn btn-success" routerLink="menschen" role="button">Die Menschen im Netzwerk</a>
    </div>
  </div>
</div>
<br>
<br>
