<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home"><img src="/assets/pic/Logo_Engagement_Natur.jpg" class="img-thumbnail" alt="Logo" width="90" height="72"></a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNavDropdown" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav">
        <!--<li class="nav-item">
          <a class="nav-link" routerLink="info" routerLinkActive="active">Wir über uns</a>
        </li>-->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Wir über uns
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" routerLink="info" routerLinkActive="active">Das Projekt</a></li>
            <li><a class="dropdown-item" routerLink="menschen" routerLinkActive="active">Menschen im Projekt</a> </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="verband" routerLinkActive="active">Netzwerk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="veranstaltung" routerLinkActive="active">Veranstaltungen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="machMit" routerLinkActive="active">Mach mit!</a>
        </li>
        <li class="nav-item" id="kontakt">
          <a class="nav-link float-right" routerLink="kontakt" routerLinkActive="active">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="footer mt-auto py-2 bg-light">
  <div class="container-fluid">
    <div class="row">
    <a class="nav-link" id="impressum" routerLink="impressum" routerLinkActive="active" >Impressum</a>
    <a class="nav-link" id="Datenschutz" routerLink="datenschutz" routerLinkActive="active">Datenschutz</a>
    </div>
  </div>
</footer>


