<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Impressum</h1>
      <div id="imprint-div">
        <h4>Herausgeber</h4>
        <br>
        <address>
          <dl class="imprint-contact-adress">
            <dt>
              <b>Zweckverband Naturpark Hessischer Spessart</b>
              <br>
              <br>
              Georg-Hartmann-Str. 5 - 7
              <br>
              <br>
              63637 Jossgrund
              <br>
            </dt>
          </dl>
          <br>
          <dl class="imprint-contact-data" style="width: 100%">
            <dt>Telefon:</dt>
            <dd>
              <a href="tel:06059906783">(06059) 906783</a>
              <br>
            </dd>
            <dt>Telefax:</dt>
            <dd>
              <a href="tel:06059906689">(06059) 906689</a>
              <br>
            </dd>
            <dt>E-Mail:</dt>
            <dd>
              <a href="mailto:info@naturpark-hessischer-spessart.de">info@naturpark-hesscher-spessert.de</a>
              <br>
            </dd>
          </dl>
        </address>
      </div>
      <br>
      <div id="siteinfo-div">
        <h4>Datenschutz</h4>
        <p>Bei jedem Zugriff auf das Internetangebot und bei jedem Abruf einer Datei werden Daten über diesen Vorgang in einer Protokolldatei gespeichert und verarbeitet.</p>
        <p>
          Im Einzelnen werden über jeden Zugriff/Abruf folgende Daten gespeichert:</p>
        <ul>
          <li>Datum/Uhrzeit</li>
          <li>besuchte Seite</li>
          <li>Beschreibung des Typs des verwendeten Webbrowsers</li>
          <li>verwendetes Betriebsystem</li>
          <li>IP-Adresse</li>
          <li>Suchbegriffe</li>
        </ul>
        <p>
          Die Daten werden ausschließlich für statistische Zwecke verarbeitet und ausgewertet. Die geführte Zugriffsstatistik lässt keine Rückschlüsse auf personenbezogene Daten zu.</p>
        <p>
          Beim Aufruf einzelner Seiten werden sog. temporäre Cookies verwendet, um die Navigation zu erleichtern. Diese Session-Cookies beinhalten keine personenbezogenen Daten und verfallen nach Ablauf der Sitzung. Java-Applets und Active-X-Controls werden nicht eingesetzt.</p>
        <p>
          Wenn Sie uns über das Kontaktformular erreichen, werden die von Ihnen angegebenen persönlichen Daten ausschließlich zur Bearbeitung Ihres Anliegens bzw. Ihres Antrages verwendet. Die persönlichen Daten werden nicht in unseren elektronischen Datenbestand aufgenommen. Eine Weitergabe an Dritte erfolgt nicht. Beachten Sie bitte, dass die Datenübermittlung über das Kontaktformular unverschlüsselt erfolgt - wir können daher nicht ausschließen, dass die Daten während der elektronischen Übertragung an uns von Dritten gelesen oder verändert werden können. Für vertrauliche Nachrichten nutzen Sie bitte den herkömmlichen Postweg.</p>
        <hr>
        <h4>Wichtige Hinweise zu E-Mails</h4>
        <p>Dieser Kommunikationsweg (Email) steht ausschließlich für Verwaltungsangelegenheiten
          zur Verfügung. Es wird darauf hingewiesen, dass mit diesem Kommunikationsmittel
          Verfahrensanträge oder Schriftsätze <strong>nicht rechtswirksam</strong>
          eingereicht werden können. Sollte Ihre Nachricht einen entsprechenden Schriftsatz
          beinhalten, ist eine Wiederholung der Übermittlung mittels Telefax oder
          auf dem Postwege unbedingt erforderlich.</p>
        <p> Da es aus verwaltungsinternen Gründen derzeit nicht möglich ist,
          alle Vorgänge, die per Email eingehen, auch auf elektronischem Wege zu
          beantworten, werden die Nutzer des Email-Zugangs gebeten, neben der Email-Adresse
          auch ihre Postanschrift anzugeben.</p>
        <hr>
        <h4>Netzwerk</h4>
        <p>Alle Portale auf Basis PortUNA.cms sind untereinander vernetzt. Daher werden
          Informationen auch anderen Portalen thematisch und regional zugeordnet.
          (Beispiel: Veranstaltungen einer Kommune werden auch auf einem landesweiten
          Portal dargestellt.) Nutzer, die sich auf diesem Portal anmelden, können
          sich auch auf anderen Portalen des Netzwerkes anmelden.</p>
        <hr>
        <h4>Urheberrecht</h4>
        <p>Die Rechte am Inhalt dieses Internet-Auftritts liegen sowohl beim Herausgeber
          als auch beim Betreiber. Eine Nachnutzung in anderen elektronischen oder gedruckten
          Publikationen, gleich welcher Art und auch auszugsweise, bedarf der schriftlichen
          Genehmigung des Herausgebers.</p>
        <p>Alle Rechte am Design und der Technologie dieses Internet-Auftritts liegen
          beim Betreiber. Eine Nachnutzung, gleich welcher Art und auch auszugsweise,
          ist ohne schriftliche Genehmigung des Betreibers untersagt. Zuwiderhandlungen
          werden zivil- und strafrechtlich verfolgt.</p>
        <p> Der Herausgeber ist bestrebt, in allen Publikationen die Urheberrechte der
          verwendeten Grafiken, Sounds und Texte zu beachten, von ihm selbst erstellte
          Grafiken, Sounds und Texte zu nutzen oder auf lizenzfreie Grafiken, Sounds und
          Texte zurückzugreifen. Sollte sich auf den jeweiligen Seiten dennoch eine
          ungekennzeichnete, aber durch fremdes Copyright geschützte Grafik, ein
          Sound oder Text befinden, so konnte das Urheberrecht vom Herausgeber nicht festgestellt
          werden. Im Falle einer solchen unbeabsichtigten Copyright-Verletzung wird der
          Herausgeber das entsprechende Objekt nach Benachrichtigung aus seiner Publikation
          entfernen bzw. mit dem entsprechenden Copyright kenntlich machen.</p>
        <hr>
        <h4>Haftungsausschluss</h4>
        <p>Der Herausgeber dieser Homepage übernimmt keinerlei Gewähr für
          die Aktualität, Korrektheit, Vollständigkeit oder Qualität der
          bereitgestellten Informationen. Der Herausgeber behält es sich ausdrücklich
          vor, Teile der Seiten oder das gesamte Angebot ohne gesonderte Ankündigung
          zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung
          zeitweise oder endgültig einzustellen. Haftungsansprüche gegen den
          Inhaber, die sich auf Schäden materieller oder ideeller Art beziehen, welche
          durch die Nutzung oder Nichtnutzung der dargebotenen Informationen bzw. durch
          die Nutzung fehlerhafter und unvollständiger Informationen verursacht wurden
          sind ausgeschlossen.</p>
        <p>Mit Urteil vom 12. Mai 1998 hat das Landgericht Hamburg entschieden, dass man
          durch die Anbringung eines Links die Inhalte der gelinkten Seite ggf. mit zu
          verantworten hat. Dies kann, so das LG, nur dadurch verhindert werden, dass
          man sich ausdrücklich von diesen Inhalten distanziert. Wir möchten
          ausdrücklich betonen, dass wir keinerlei Einfluss auf die Gestaltung und
          die Inhalte der gelinkten Seiten haben. Deshalb distanzieren wir uns hiermit
          ausdrücklich von allen Inhalten aller gelinkter Seiten und machen uns diese
          nicht zu Eigen. Diese Erklärung gilt für alle innerhalb unserer Seiten,
          ausgebrachte Links und für alle Inhalte der Seiten, zu denen diese Links
          führen.</p>
        <p>Für Inhalte und Schäden, die aus der Nutzung oder Nichtnutzung durch
          Links dargebotener Informationen entstehen, haften allein die Anbieter dieser
          Seiten, nicht derjenige, der über Links auf die jeweilige Veröffentlichung
          lediglich verweist. Diese Einschränkung gilt gleichermaßen auch für
          Fremdeinträge in allen interaktiven Elementen dieses Internet-Auftritts.
          Für den Inhalt fremder Seiten ist ausschließlich der betreffende
          Autor selbst verantwortlich.</p>
        <p>Die Links und Informationen dieser Homepage werden nur zum Informationsaustausch
          bereitgestellt und begründen keine geschäftlichen oder beruflichen
          Beziehungen irgendwelcher Art. Sie sind nicht als Rechts- oder Steuerberatungsleistungen
          zu verstehen, sondern dienen rein informativen Zwecken. Vor geschäftlichen
          Entscheidungen setzen Sie sich bitte mit ihrem Steuerberater oder Rechtsanwalt
          in Verbindung.</p>
        <hr>
        <h4>Hinweis zu Google Analytics</h4>
        <p>Sobald auf dieser Webseite Google Analytics, einen Webanalysedienst der Google Inc. ("Google"), verwendet wird, werden sog. "Cookies", Textdateien, auf Ihrem Computer gespeichert, die eine Analyse der Benutzung der Website durch Sie ermöglichen.</p>
        <p>Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen.</p>
        <p>Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren [<a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>].</p>
        <hr>
        <h4>Google Adsense Datenschutzhinweis</h4>
        <p>Soweit Google Adsense, einen Webanzeigendienst der Google Inc., USA ("Google"), auf dieser Website
          Werbung (Textanzeigen, Banner etc.) schaltet, speichert Ihr Browser eventuell ein von Google Inc. oder
          Dritten gesendetes Cookie. Die in dem Cookie gespeicherten Informationen können durch Google Inc. oder
          auch Dritte aufgezeichnet, gesammelt und ausgewertet werden. Darüber hinaus verwendet Google Adsense zur
          Sammlung von Informationen auch sog. "WebBacons" (kleine unsichtbare Grafiken), durch deren Verwendung
          einfache Aktionen wie der Besucherverkehr auf der Webseite aufgezeichnet, gesammelt und ausgewertet werden
          können. Die durch den Cookie und/oder Web Bacon erzeugten Informationen über Ihre Nutzung dieser Website
          werden an einen Server von Google in den USA übertragen und dort gespeichert. Google benutzt die so erhaltenen
          Informationen, um eine Auswertung Ihres Nutzungsverhaltens im Hinblick auf die AdSense-Anzeigen durchzuführen.
          Google wird diese Informationen gegebenenfalls auch an Dritte übertragen, sofern dies gesetzlich vorgeschrieben
          ist oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Ihre IP-Adresse wird von Google nicht mit
          anderen von Google gespeicherten Daten in Verbindung gebracht. Sie können das Speichern von Cookies auf Ihrer
          Festplatte und die Anzeige von Web Bacons verhindern. Dazu müssen Sie in Ihren Browser-Einstellungen "keine Cookies
          akzeptieren" wählen (Im Internet-Explorer unter "Extras / Internetoptionen / Datenschutz / Einstellung", bei Firefox
          unter "Extras / Einstellungen / Datenschutz / Cookies").</p>
        <hr>
      </div>
      <br>
      <a class="btn btn-success" routerLink="datenschutz" role="button">Datenschutzerklärung</a>
      <br>
      <br>
    </div>
  </div>
</div>
