<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-9">
<h2>Machen Sie mit und werden Sie Teil unseres Netzwerkes Engagement Natur!</h2>
<br>
<ul>
  <li>
    <span>Sie wollen sich mit Gleichgesinnten austauschen?</span>
  </li>
  <li>
    <span>Sie suchen Mitwirkende bei der Umsetzung einer Idee im Naturbereich?</span>
  </li>
  <li>
    <span>Sie planen in Ihrem Verein Veranstaltungen und wollen diese mit anderen Vereinen abstimmen, damit es keine Überschneidungen gibt?</span>
  </li>
  <li>
    <span>Ihnen fehlt Unterstützung zu einem bestimmten Thema innerhalb Ihres Vereins?</span>
  </li>
</ul>
<br>
<span>Neben Austauschtreffen sind auch Veranstaltungen zu bestimmten Themen geplant. Des weiteren geht es darum, die Arbeit aller zu bündeln und in der öffentlichen Wahrnehmung zu stärken.</span>
<br>
<br>
      <br>
<h5>Um etwas bewegen und bewirken zu können, braucht es die Zusammenarbeit vieler. </h5>
<br>
<hr><br>

</div>
</div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
<h5>Machen Sie mit und nehmen Sie Kontakt mit uns auf:</h5>
      <br>
      <address>
        <dl class="imprint-contact-adress">
          <dt>
            <b>Isabella Gürtler</b>
            <br>
            <b>c/o Naturpark Hessischer Spessart</b>
            <br>
            <br>
            Georg-Hartmann-Str. 5 - 7
            <br>
            <br>
            63637 Jossgrund
            <br>
          </dt>
        </dl>
        <br>
        <dl class="imprint-contact-data" style="width: 100%">
          <dt>Telefon:</dt>
          <dd>
            <a href="tel:015233597733">(0152) 33597733</a>
            <br>
          </dd>
          <dt>E-Mail:</dt>
          <dd>
            <a href="mailto:guertleri@naturpark-hessischer-spessart.de">guertleri@naturpark-hessischer-spessert.de</a>
            <br>
          </dd>
        </dl>
      </address>
      <br>
      <hr>
      <br>
      <h5>Immer auf dem Laufenden bleiben – folgen Sie uns in den sozialen Medien:</h5>
      <br>
      <p>Facebook: <a href="https://www.facebook.com/Engagement-Natur-103882648281363" target="_blank">Engagement Natur</a> </p>
      <p>Instagram: engagementnatur</p>
    </div>
  </div>
</div>
<br>
<br>
