<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v9.0" nonce="mFh0JWlH"></script>
<br>
<div class="container" id="carouselStart" >
<div class="row">
  <div class="col-12" >
<ngb-carousel
  #mycarousel
  [showNavigationArrows]="true"
  [showNavigationIndicators]="true"
  interval="8000"
  [keyboard]="true"
  [pauseOnHover]="true"
  [wrap]="true"
  [activeId]="'slideTwo'"
  class="w-75"
>
  <ng-template ngbSlide id="slideOne">
    <div class="picsum-img-wrapper">
      <img src="/assets/pic/PK1.PNG" alt="Postkarte 1" class="w-100">
    </div>
  </ng-template>
  <ng-template ngbSlide id="slideTwo">
    <div class="picsum-img-wrapper">
      <img src="/assets/pic/PK2.PNG" alt="Postkarte 2" class="w-100">
    </div>
  </ng-template>
  <ng-template ngbSlide id="slideThree">
    <div class="picsum-img-wrapper">
      <img src="/assets/pic/PK3.PNG" alt="Postkarte 3" class="w-100">
    </div>
  </ng-template>
</ngb-carousel>
</div>
</div>
</div>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Engagement Natur – Begeisterung vernetzen!</h3>
      <span>Sich für die Natur engagieren ist das Ziel vieler Vereine und Organisationen, aber auch von vielen Menschen hier bei uns in der Region. Sie alle eint der Wunsch nach dem <strong>Schutz der Natur</strong>.
        Bei „Engagement Natur“ finden sich Engagierte, ob Einzelpersonen oder Vereine, zu einem Netzwerk zusammen. „Engagement Natur“ möchte durch die <strong>Vernetzung</strong> die Vereine und Organisationen in ihrer Arbeit generell sowie in ihrer Organisation der Freiwilligen <strong>unterstützen</strong>.</span>
    </div>
    <div class="col-md-6">
      <!--<img src="assets/pic/FBtest.JPG" alt="Facebook Feed" width="530" height="400">-->
      <div class="fb-page" data-href="https://www.facebook.com/Engagement-Natur-103882648281363" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/Engagement-Natur-103882648281363" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Engagement-Natur-103882648281363">Engagement Natur</a></blockquote></div>
    </div>
  </div>
</div>
<br>
<br>
<br>
